handouts*.pdf
slides*.pdf
tutornotes*.pdf
gweithdy-latex-da*/handouts.tex
gweithdy-latex-da*/slides.tex
gweithdy-latex-da*/tutornotes.tex
gweithdy-latex-da*/config
gweithdy-latex-da*/ffigurau
gweithdy-latex-da*/handouts
gweithdy-latex-da*/ee
gweithdy-latex-da*/memos
gweithdy-latex-da-2-pellach/pgfplotsexample.pdf
handouts/config
